[submodule "ffMetadataEx"]
	path = ffMetadataEx
	url = https://github.com/OuterTune/ffMetadataEx
[submodule "media"]
	path = media
	url = https://github.com/nift4/media
[submodule "taglib"]
	path = taglib
	url = https://github.com/OuterTune/taglib
[submodule "music_identifier/src/main/cpp/chromaprint"]
	path = music_identifier/src/main/cpp/chromaprint
	url = https://github.com/acoustid/chromaprint.git
